@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --btn-bg: rgb(170, 16, 16);
  /*Alternative : rgb(114, 114, 114);*/
  --card-bg: rgb(155, 155, 220);
  --card-back-bg: rgb(90, 90, 204);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  background-color: rgb(238, 252, 255);
  /* Alternative: rgb(183, 237, 247);*/
}

.instructions {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: start;
  top: 0;
  left: 0;
  width: 300px;
  min-height: 100vh;
  padding: 20px;
  color: #fff;
  transform: translateX(-300px);
  transition: transform 0.5s ease-in-out;
  background: var(--btn-bg);
  z-index: 3;
}

.instructions.show {
  transform: translateX(0);
}

.btn {
  display: block;
  cursor: pointer;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  z-index: 2;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.instruct-btn,
.new-game-btn {
  background: var(--btn-bg);
  color: #fff;
  margin: 0 0 20px 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
}

.menus select {
  background: var(--btn-bg);
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.menus select:active,
.menus select:focus {
  outline: none;
}

.game {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 680px;
  max-height: 400px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0 0 0;
  background: #fff;
}

.card {
  cursor: pointer;
  color: var(--card-back-bg);
  background: var(--card-back-bg);
  text-align: center;
  line-height: 80px;
  height: 80px;
  width: 80px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
  transition: transform 0.2s, opacity 2s;
}

.card.flip,
.card.solved {
  /*.solved has these properties too to stop card from flipping over during fade-out effect */
  transform: rotateY(0);
  background-color: var(--card-bg);
  color: #fff;
}

.card.solved {
  opacity: 0;
  cursor: auto;
}

.win-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Takes up 100% of screen to block select elements, but not buttons (.btn has a higher z-index) */
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}

.win-div.opaque {
  z-index: 1;
  opacity: 1;
}

.results {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
  width: 650px;
}

.slot {
  margin: 0 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  list-style: none;
}

.slot li {
  margin: 15px 0;
}

.note,
.qual,
.chordfunc {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
}

.note.found,
.qual.found,
.chordfunc.found {
  visibility: visible;
  opacity: 1;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .game {
    max-height: 210px;
    max-width: 350px;
    padding: 5px 0;
  }

  .card {
    line-height: 43px;
    height: 43px;
    width: 43px;
    margin: 2.5px;
    font-size: 8px;
    overflow-wrap: normal;
  }

  .results {
    flex-direction: column;
    margin: 0 15px;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 80vw;
  }

  .slot {
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    width: 100%;
  }

  .slot li {
    margin: 10px 0;
  }

  .instructions {
    width: 200px;
    transform: translateX(-200px);
  }
  .instructions p {
    margin: 8px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .game {
    height: auto;
    max-height: 263px;
    max-width: 480px;
    padding: 5px 0;
  }

  .card {
    line-height: 53px;
    height: 53px;
    width: 53px;
    margin: 5px;
    font-size: 10px;
  }
}

@media screen and (orientation: landscape) {
  .hide-btn {
    margin-top: 8px;
  }
  .instructions {
    padding: 10px;
  }
  .instructions p {
    margin: 8px 0;
  }
}
